 /* Fullscreen map */
    html, body {
      height: 100%;
      margin: 0;
    }
    #map {
      height: 100vh;
      width: 100vw;
    }

/* Style for centered search bar */
.leaflet-control-geocoder.custom-geocoder {
  position: absolute !important;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  min-width: 300px;
  font-size: 14px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  padding: 4px;
}

/* Input inside */
.leaflet-control-geocoder.custom-geocoder input {
  width: 100%;
  height: 32px;
  padding: 5px 10px;
  font-size: 14px;
}


.about-logo img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: auto;
  z-index: 1000;
  cursor: pointer;
}

.profile-logo img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: auto;
  z-index: 1000;
  cursor: pointer;
}

.save-logo img {
  position: absolute;
  top: 28px;
  left: calc(50% - 210px);
  width: 60px;
  height: auto;
  z-index: 1000;
  cursor: pointer;
}


        .traffic-logo img{

      position: absolute;
      top: 120px;
      right: 10px;
      width: 100px;
      height: auto;
      z-index: 1000; /* stay above map */
      cursor: pointer;
    }

      .suggest-logo img{

      position: absolute;
      bottom: 30px;
      left: 10px;
      width: 80px;
      height: auto;
      z-index: 1000; /* stay above map */
      cursor: pointer;
    }

      .recent-logo img{

      position: absolute;
      bottom: 100px;
      left: 10px;
      width: 80px;
      height: auto;
      z-index: 1000; /* stay above map */
      cursor: pointer;
    }




    @media (max-width: 600px) {

      .leaflet-control-geocoder.custom-geocoder {
      position: absolute !important;
      top: 16px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2000;

       min-width: 300px;
       font-size: 14px;
       background: white;
       border-radius: 6px;
       box-shadow: 0 2px 6px rgba(0,0,0,0.2);
       padding: 4px;
      }


    }
    
