html, body {
      height: 100%;
      margin: 0;
    }
    #map {
      height: 100%;
      width: 100%;
    }

    /* Floating logos */

.about-logo img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: auto;
  z-index: 1000;
  cursor: pointer;
}
.profile-logo img {
  position: absolute;
  top: 47px;
  right: 10px;
  width: 100px;
  height: auto;
  z-index: 1000;
  cursor: pointer;
}
.suggest-logo img{
      position: absolute;
      bottom: 30px;
      left: 10px;
      width: 80px;
      height: auto;
      z-index: 1000; /* stay above map */
      cursor: pointer;
}
.recent-logo img{
    position: absolute;
    bottom: 100px;
    left: 20px;
    width: 80px;
    height: auto;
    z-index: 1000;
    cursor: pointer;
}
.save-logo img {
  position: absolute;
  top: 28px;
  left: calc(50% - 210px);
  width: 60px;
  height: auto;
  z-index: 1000;
  cursor: pointer;
    }

    .recent-logo img {
     position: absolute;
      bottom: 100px;
      left: 10px;
      width: 80px;
      height: auto;
      z-index: 1000; /* stay above map */
      cursor: pointer;
    }